<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>Hello everyone, my name is Yanir and I am currently a high school student studying programming. I created the NoteGet project in order to combine two worlds that I really connect with, which are of course the world of music and the world of programming, and really for me NoteGet means a lot because it is my first big project that I really took in my hands and I decided to take seriously this project is always with me in my heart and it is very important to me and I hope that everyone who goes out enjoys what the project gives them</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>