<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="create-blog content">
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="title">song name:</label>
      <input type="text" id="title" name="name" required>
      <label for="snippet">song author:</label>
      <input type="text" id="snippet" name="songauthor" required>
      <label for="widget">widget:</label>
      <input type="text" id="widget" name="widget" required>
      <label for="body">ragular file:</label>
      <input type="file" accept=".pdf" name="mainfile" required>
      <label for="haseazy"> dose the song has eazy version?</label>
      <input type="checkbox" id="haseazy" name="haseazy" >
      <label for="body">eazy file:</label>
      <input type="file" accept=".pdf" name="eazyfile">
      <label for="hashard"> dose the song has hard version?</label>
      <input type="checkbox" id="hashard" name="hashard" >
      <!-- <label for="body">hard file:</label>
      <input type="file" accept=".pdf" name="hardfile"><br> -->
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>